<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DuperBrands</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <style>
:root {
    --bulma-primary-h: 214deg;
    --bulma-primary-s: 88%;
    --bulma-primary-l: 13%;
    --bulma-link-h: 169deg;
    --bulma-link-s: 86%;
    --bulma-link-l: 45%;
    --bulma-info-l: 100%;
}
    </style>
    <body>
        <nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item ">
                    <img src="https://i.imgur.com/yozu1GW.jpeg">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item has-text-primary-20-invert">
                    Estadisticas
                  </a>
            
                  <a class="navbar-item has-text-primary-20-invert">
                    Promociones
                  </a>

                  <a class="navbar-item has-text-primary-20-invert">
                    Sucursales
                  </a>
                </div>
            
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button has-text-primary-20 is-white">
                        <strong>Sign In</strong>
                      </a>
                      <a class="button is-link">
                        Log out
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">