<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DuperBrands</title>
        <link rel="stylesheet" type="text/css" href="/CSS/dbEstilos.css">
    </head>
    <body>
        <nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item"href="/home">
                  <img src="/logoDuper/dbLongBlue.jpg">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item has-text-primary-20-invert" href="/estad/Estadisticas">
                    Estadisticas
                  </a>
            
                  <a class="navbar-item has-text-primary-20-invert" href=/promo/tarjeta>
                    Promociones
                  </a>

                  <a class="navbar-item has-text-primary-20-invert" href=/sucur/sucursales>
                    Sucursales
                  </a
                </div>
            
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a href="/login"class="button has-text-primary-20 is-white">
                        <strong>Sign In</strong>
                      </a>
                      <a class="button is-link">
                        Log out
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
