<%- include('includes/head.ejs') %>
<header>
    <h1 class="title">ERROR 404 D:</h1>
</header>
<main>
    <br>
    <p class="block">
        Lo sentimos, las página que estás buscando no se encuentra. 
    </p>
    <%- include('includes/foot.ejs') %>