<%- include('includes/head.ejs') %>
<form class="box">
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input class="input" type="text" placeholder="DuperRewards" />
      </div>
    </div>
  
    <div class="field">
      <label class="label">Fecha inicio</label>
      <div class="control">
        <input class="input" type="date" set-date-format="aaaa/mm/dd">
      </div>
    </div>
  
    <button class="button is-link">Agregar</button>
</form>
<%- include('includes/foot.ejs') %>