<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">MIS TARJETAS</h1>
<main>
    <div class="buttons is-centered">
        <a href="/promo/tarjeta" class="button is-link">Editar tarjeta</a>
    </div>

   
    <div class="columns is-multiline">
        <div class="column is-narrow">
            <div class="cardDB">
                <div class="card-innerDB">
                    <div class="frontDB">
                        <img src="/Dupper-brands-logo.png" class="db-img" width="600px">
                        <div class="rowDB">
                            <p class="text has-text-right has-text-primary"><strong>DUPER REWARDS<strong></p>
                        </div>
                        <div class="rowDB sellos">
                            <div id="circle"></div>
                            <div id="circle"></div>
                            <div id="circle"></div>
                            <div id="circle"></div>
                            <div id="circle"></div>
                        </div>
                        <div class="rowDB sellos">
                            <div id="circle"></div>
                            <div id="circle"></div>
                            <div id="circle"></div>
                            <div id="circle"></div>
                            <div id="circle"></div>
                        </div>
                        <div class="rowFDB">
                            <div class="left has-text-left">
                            <p class="text has-text-left has-text-primary">@usuario</p>
                            <p class="text has-text-left has-text-primary">@teléfono</p>
                            </div>
                            <div class="right has-text-right">
                                <p class="text has-text-right has-text-primary">@sucursal</p>
                                <p class="text has-text-right has-text-primary">@teléfono sucursal</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="column ">
            <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> Choose a file… </span>
                  </span>
                </label>
            </div>
        </div>
    </div>
<%- include('includes/foot.ejs') %>

