<%- include('includes/head.ejs') %>
<section class="section">
</section>
    <div class="container">
        <h1 class="title has-text-centered">Seleccione una opción de estadísticas</h1>
        <div class="option-container">
            <div class="option">
                <a href="/estad/estadisticas">
                    <figure class="image is-20x20">
                        <img src="https://static.vecteezy.com/system/resources/previews/020/364/046/non_2x/growth-bar-graph-cartoon-icon-illustration-vector.jpg" alt="Estadísticas Generales">
                    </figure>
                    <div class="option-title">Estadísticas Generales</div>
                </a>
            </div>
            <div class="option">
                <a href="/estad/estadisticasRewards">
                    <figure class="image is-20x20"></figure>
                    <img src="https://w7.pngwing.com/pngs/755/553/png-transparent-money-line-graph-illustration.png" alt="Estadísticas Rewards">
                    </figure>
                    <div class="option-title">Estadísticas Rewards</div>
                </a>
            </div>
        </div>
    </div>
</section>

<%- include('includes/foot.ejs') %>




