<%- include('includes/head.ejs') %>

<h1 class="title has-text-centered">ESTADÍSTICAS</h1>

<div class="columns is-centered">


    <div class="column is-narrow">
        <form action="/estadisticas/generales" method="GET">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="option" value="generales">

            <div class="control has-text-centered">
                <button type="submit" class="button agregar-btn is-link" style="display: flex; flex-direction: column; align-items: center;">
                    <figure class="image is-128x128">
                        <img src="https://thumbs.dreamstime.com/z/icono-de-la-l%C3%ADnea-negra-para-oficina-franquicia-y-sucursal-tienda-minorista-inversi%C3%B3n-franquiciadora-256891967.jpg" alt="Estadísticas Generales" />
                    </figure>
                    <p>Estadísticas Generales</p>
                </button>
            </div>
        </form>
    </div>


    <div class="column is-narrow">
        <form action="/estadisticas/sucursal" method="GET">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="option" value="sucursal">

            <div class="control has-text-centered">
                <button type="submit" class="button agregar-btn is-link" style="display: flex; flex-direction: column; align-items: center;">
                    <figure class="image is-128x128">
                        <img src="https://i.pinimg.com/564x/8e/98/90/8e98905b9a137cfef1c22c6ce8c623fb.jpg" alt="Estadísticas Sucursal" />
                    </figure>
                    <p>Estadísticas Sucursal</p>
                </button>
            </div>
        </form>
    </div>
</div>

<%- include('includes/foot.ejs') %>
