<%- include('includes/head.ejs') %>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Estadísticas</h1>
            <p>Bienvenido, <%= username %>!</p>

            <div class="buttons">
                <a href="/estadisticasGenerales" class="button is-primary">Estadísticas Generales</a>
                <a href="/estadisticasRewards" class="button is-primary">Estadísticas Rewards</a>
            </div>
        </div>
    </section>
</body>      
<%- include('includes/foot.ejs') %>




