<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">GENERAL</h1>

<div class="control has-text-centered">
    <a href="/config/roles" class="button agregar-btn is-link">ROLES</a>
</div>
<br>
<%- include('includes/foot.ejs') %>
