<!DOCTYPE html>
<head>

    <title>Inicio de Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <style>
        .background-image {
            background-image: url(../public/Background-login.png);
            background-size: cover; /* Hace que la imagen cubra toda la pantalla */
            background-position: center; /* Centra la imagen */
            width: 100%;    
            height: 100%;
        }
        .login-box {
            position: absolute;
            right: 25%; /* Mueve loginbox 25% a la derecha de la pantalla */
            top: 50%; /* Mueve loginbox mitad de la pantalla verticalmente */
            transform: translateY(-50%); /*Centrado del cuadro*/
            max-width: 400px; 
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
        }
        h1 {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="background-image"></div>
        <div class="login-box">
            <header>
                <h1 class="title">¡Bienvenido!</h1>
            </header>
            <main>
                <form action="/usuarios/home" method="POST">
                    <div class="field">
                        <label class="label" for="Numero">Teléfono</label>
                        <div class="control">
                            <input id="Numero" name="numero" class="input" type="text" placeholder="442-XXX-XXXX" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="password">Contraseña</label>
                        <div class="control">
                            <input id="password" name="password" class="input" type="password" placeholder="Contraseña" required>
                        </div>
                    </div>

                    <div class="control">
                        <input type="submit" class="button is-success   " value="Entrar" >
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
</html>
