<%- include('includes/head.ejs') %>
<h1 class="title">Registro de Usuario</h1>
<form action="/registrar" method="POST">
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="box">
        <div class="field">
            <label class="label" for="Nombre">Nombre</label>
            <div class="control">
                <input id="NombreUsuario" name="NombreUsuario" class="input" type="text" placeholder="Ricardo Cortés Espinosa" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="Telefono">Telefono</label>
            <div class="control">
                <input id="NumTelefono" name="NumTelefono" class="input" type="number" placeholder="+52 442 238 3100" required> 
            </div>
        </div>

        <div class="field">
            <label class="label" for="Rol">Rol</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select id="TipoRol" name="TipoRol">
                        <option>Dueño</option>
                        <option>Empleado</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label" for="Genero">Genero</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="Genero" name="Genero">
                                <option>Femenino</option>
                                <option>Masculino</option>
                                <option>Otro</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="FechaNacimiento">Fecha de nacimiento</label>
                    <div class="control has-icons-right">
                        <input id="FechaNacimiento" name="FechaNacimiento" class="input" type="date" placeholder="18/07/2023" required>
                        <span class="icon is-small is-right">
                             <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body"> 
                <div class="field">
                    <label class="label" for="Ciudad">Ciudad</label>
                    <div class="control">
                        <input id="Ciudad" name="Ciudad" class="input" type="text" placeholder="Querétaro" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for"Estado">Estado</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="Estado" name="Estado"> 
		                <option>Aguascalientes</option>
                                <option>Baja California</option>
                                <option>Baja California Sur</option>
                                <option>Campeche</option>
                                <option>Chiapas</option>
                                <option>Chihuahua</option>
                                <option>Ciudad de México</option>
                                <option>Coahuila</option>
                                <option>Colima</option>
                                <option>Durango</option>
                                <option>Estado de México</option>
                                <option>Guanajuato</option>
                                <option>Guerrero</option>
                                <option>Hidalgo</option>
                                <option>Jalisco</option>
                                <option>Michoacán</option>
                                <option>Morelos</option>
                                <option>Nayarit</option>
                                <option>Nuevo León</option>
                                <option>Oaxaca</option>
                                <option>Puebla</option>
                                <option>Querétaro</option>
                                <option>Quintana Roo</option>
                                <option>San Luis Potosí</option>
                                <option>Sinaloa</option>
                                <option>Sonora</option>
                                <option>Tabasco</option>
                                <option>Tamaulipas</option>
                                <option>Tlaxcala</option>
                                <option>Veracruz</option>
                                <option>Yucatán</option>
                                <option>Zacatecas</option> 
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="Direccion">Dirección</label>
            <div class="control">
                <input id="Direccion" name="Direccion" class="input" type="text" placeholder="DUPER REWARDS" required> 
            </div>
        </div>

        <div class="field">
            <label class="label" for="Contrasenia">Contraseña</label>
            <div class="control">
		<input id="Contrasenia" name="Contrasenia" class="input" type="password" required>
            </div>
        </div>

        <div class="control has-text-centered">
           <input type="submit" class="button is-link" value="REGISTRAR">
        </div> 
    </div>
</form>
<%- include('includes/foot.ejs') %>
