<%- include('includes/head.ejs') %>

<form action="/sucursales" method="POST">
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">SUCURSALES</h1>
        <div class="columns is-multiline">
            <!-- Sucursal 1 -->
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">Sucursal XXXX</p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon is-medium">
                          <img src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Photo-Image-Icon-Graphics-10388619-1-1-580x386.jpg" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Dirección: ""
                        <br>
                        Número: ""
                        <br>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Editar</a>
                      <a href="#" class="card-footer-item">Eliminar</a>
                    </footer>
                  </div>
            </div>

            <!-- Repite el código para cada sucursal -->
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">Sucursal XXXX</p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon is-medium">
                            <img src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Photo-Image-Icon-Graphics-10388619-1-1-580x386.jpg" aria-hidden="true"></i>
                          </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Dirección: ""
                        <br>
                        Número: ""
                        <br>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Editar</a>
                      <a href="#" class="card-footer-item">Eliminar</a>
                    </footer>
                  </div>
            </div>

            <!-- Añade más sucursales según sea necesario -->
        </div>
        <div class="control has-text-centered">
            <a href="http://localhost:3000/admin/registrarSucursales" class="button agregar-btn is-link">AGREGAR MÁS</a>
        </div>
    </div>
</section>
</form>

<%- include('includes/foot.ejs') %>
